@using Abp.Authorization.Users
@using Abp.Configuration
@using Abp.Extensions
@using Abp.Zero.Configuration
@using DM.UBP.Web.Areas.Mpa.Models.Common.Modals
@model DM.UBP.Application.Dto.SysManage.Authorization.Modules.CreateModuleInput

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditModule") + ": " + Model.ModuleName) : L("CreateModule")))

<div class="modal-body">

    <div class="tabbable-line">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#ModuleInformationsTab" data-toggle="tab" aria-expanded="true">
                    @L("ModuleInformations")
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="ModuleInformationsTab">

                <form name="ModuleInformationsForm" role="form" novalidate class="form-validation">

                    @if (Model.IsEditMode)
                    {
                        <input type="hidden" name="Id" value="@Model.Id" />
                    }

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="ModuleCode" class="form-control@(Model.ModuleCode.IsNullOrEmpty() ? "" : " edited")" value="@Model.ModuleCode">
                        <label>@L("ModuleCode")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="ModuleName" class="form-control@(Model.ModuleName.IsNullOrEmpty() ? "" : " edited")" value="@Model.ModuleName">
                        <label>@L("ModuleName")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" name="ParentId" class="form-control@(!Model.ParentId.HasValue ? "" : " edited")" value="@Model.ParentId">
                        <label>@L("ParentId")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" name="Url" class="form-control@(Model.Url.IsNullOrEmpty() ? "" : " edited")" value="@Model.Url">
                        <label>@L("Url")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label">
                        @*<input type="text" name="Icon" class="form-control@(Model.Icon.IsNullOrEmpty() ? "" : " edited")" value="@Model.Icon">*@
                        <label>@L("Icon")</label>
                        <input value="@Model.Icon" name="Icon" id="Icon" type="hidden" />
                        <div id="Iconic" title="点我选取图标" style="cursor:pointer" class="@Model.Icon"></div>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" name="Sort" class="form-control edited" value="@Model.Sort">
                        <label>@L("Sort")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" name="Remark" class="form-control@(Model.Remark.IsNullOrEmpty() ? "" : " edited")" value="@Model.Remark">
                        <label>@L("Remark")</label>
                    </div>

                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input id="EditModule_EnabledMark" class="md-check" type="checkbox" name="EnabledMark" value="true" @Html.Raw(Model.EnabledMark ? "checked=\"checked\"" : "")>
                            <label for="EditModule_EnabledMark">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("EnabledMark")
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input id="EditModule_IsLast" class="md-check" type="checkbox" name="IsLast" value="true" @Html.Raw(Model.IsLast ? "checked=\"checked\"" : "")>
                            <label for="EditModule_IsLast">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("IsLast")
                            </label>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
