@using Abp.Web.Mvc.Extensions
@using DM.UBP.Web.Navigation

@{
//ViewBag.CurrentPageName = PageNames.App.Common.Module;
}
@section Scripts
{

<script type="text/javascript">
    var moduleOptUpdatePerm = @(PageNames.App.Common.Module == "Administration.Module" ? "true" : "false");
</script>

    @Html.IncludeScript("~/Areas/SysManage/Views/Module/Index.js")
    @Html.IncludeScript("~/Areas/SysManage/Views/Module/_CreateOrEditModal.js")
}

<table style="width: 100%">
    <tr>
        <td style="vertical-align: top" rowspan="2">
            <!-- 模块信息 -->
            <div class="row margin-bottom-5">
                <div class="col-xs-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("Module")</span> <small>@L("ModuleHeaderInfo")</small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-right">
                    <button id="ExportButton" class="btn btn-default"><i class="fa fa-file-excel-o"></i> @L("ExportToExcel")</button>
                    <button id="CreateButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Create")</button>
                    <button id="EditButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Edit")</button>
                </div>
            </div>

            <div class="portlet light margin-bottom-0">
                <div class="portlet-body">
                    <div id="ModulesTable"></div>
                </div>
            </div>
        </td>

        <td style="width:3px;"></td>

        <td style="width: 450px;  vertical-align: top">
            <!-- 模块操作信息 -->
            <div id="divModuleOpt">
                <div class="row margin-bottom-5">
                    <div class="col-xs-6" style="width:70%">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    <span>@L("ModuleOpt")</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right" style="width:30%">
                        <button id="CreateOptButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Create")</button>
                    </div>
                </div>

                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div id="ModuleOptsTable"></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:3px;"></td>

        <td style="width: 450px;  vertical-align: top">
            <!-- 模块列过滤信息 -->
            <div id="divColumnFilter">
                <div class="row margin-bottom-5">
                    <div class="col-xs-6" style="width:30%">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    <span>@L("ColumnFilter")</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right" style="width:70%">
                        <button id="CreateColumnFilterButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Create")</button>
                    </div>
                </div>

                <div class="portlet light margin-bottom-0">
                    <div class="portlet-body">
                        <div id="ColumnFiltersTable"></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
